<main *ngIf="!loading">
    <div class="media" *ngIf="productData" >
            <div class="gallery">
              <input type="radio" checked="checked" name="select" id="img-tab-1">
              <label for="img-tab-1" style="background-image: url({{productData.thumbnail}});"></label>
              <img class="media-object"  src="{{productData.thumbnail}}" border="0">
            
              <input type="radio" name="select" id="img-tab-2">
              <label for="img-tab-2" style="background-image: url({{productData.images[1]}});"></label>
              <img  class="media-object" [src]="productData.images[1]" border="0" alt="No Picture">
            
              <input type="radio" name="select" id="img-tab-3">
              <label for="img-tab-3" style="background-image: url({{productData.images[2]}});"></label>
              <img class="media-object" [src]="productData.images[2]" border="0" alt="No Picture">
              
              <input type="radio" name="select" id="img-tab-4">
              <label for="img-tab-4" style="background-image: url({{productData.images[3]}});"></label>
              <img class="media-object" [src]="productData.images[3]" border="0" alt="No Picture">
                      </div>
        <div class="media-body">
          <h1 class="media-heading">{{productData.title}}</h1>
          <h3>Price: {{productData.price}} USD</h3>
          <h3>Brand: {{productData.brand}}</h3>
          <h3>Category: {{productData.category}}</h3>
          <h3>Description: {{productData.description}}</h3>
          <h3>In Stock: {{productData.stock}}</h3>
            <span class="hint-star star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                {{productData.rating}}
            </span>
          <form class="wrapper">
            <div class="cart-box">
              <div class="qty qty-minus" onclick="decreaseQty('cartQty')">-</div>
              <input id="cartQty" class="qty" type="number" value="1" min="1" size="1">
              <div class="qty qty-plus" onclick="increaseQty('cartQty')">+</div>
              <input class="submit" type="submit" value="Add to cart">
            </div>
            
          </form>
        </div>
    
      </div>
    </main>
      <div class="spinner" *ngIf="loading" >
        <app-spinner></app-spinner>
      </div>
    