<header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew"><a routerLink="index.html">STC</a></h1></span>
        <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
      </div>
      <div class="nav right">
        <a routerLink="/index" class="nav-link active" ><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a routerLink="/products" class="nav-link" routerLinkActive="active"><span class="nav-link-span" ><span class="u-nav">Products</span></span></a>
        <!-- <a routerLink="/" (click)="logout()" [hidden]="!isuserLogged" class="nav-link" ><span class="nav-link-span"><span class="u-nav">Logout </span></span></a> -->
        <a routerLink="/" (click)="logout()" class="nav-link" ><span class="nav-link-span"><span class="u-nav">Logout</span></span></a>
      </div>
    </nav>
  </header>
  <!-- slideshow -->
  <div class="wrapper">
    <ul class="slideshow">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>
  </div>
  